
/* CONTAINER PRINCIPAL */
.container {
  background-color: #1e1e22; 
  min-height: 100vh;
  padding: 20px;
  color: white;
  font-family: sans-serif;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.linha {
  height: 2px;
  background: #444;
  width: 80%;
  margin: 0 auto 30px auto;
}

/* LAYOUT */
.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}


.left, .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
}


.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 350px;
  height: 370px;
  justify-content: center;
  align-items: center;
  background: #3d3d3d;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #444;
}

.robot-display {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.dot67 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
}



/* CARDS DA ESQUERDA */
.card {
  background: #cfcfcf; 
  padding: 20px;
  height: 130px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  color: #333; 
  transition: all 0.2s ease;
  text-align: left;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 20px;
  

}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.card1 {
  background: #cfcfcf; 
  padding: 20px;
  height: 145px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  color: #333; 
  transition: all 0.2s ease;
  text-align: left;
  padding-left: 15px;
  padding-top: 5px;
}
.card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.card h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #555;
}

.big {
  font-size: 45px;
  font-weight: bolder;
  margin: 0;
}

.big span { font-size: 16px; margin-left: 5px; }

/* STATUS DOTS */
.status-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-weight: bold;
}

.dot { width: 12px; height: 12px; border-radius: 50%; }
.green { background: #2ecc71; box-shadow: 0 0 8px #2ecc71; }
.yellow { background: #f1c40f; box-shadow: 0 0 8px #f1c40f; }
.red { background: #e74c3c; box-shadow: 0 0 8px #e74c3c; }

/* LOGS (DIREITA) */

.right:hover .log-container {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.log-container {
  background: #cfcfcf;
  border-radius: 15px;
  width: 100%;
  box-shadow: 4px 4px 0 #777;
  overflow: hidden;
  margin-top: 100px;
  transition: all 0.2s ease ;
}

.log-container h4 {
  background: #bcbcbc;
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #444;
  border-bottom: 1px solid #999;
}

.log-content {
  padding: 15px;
  height: 200px;
  overflow-y: auto;
}

.log-entry {
  margin: 0 0 8px 0;
  font-family: monospace;
  font-size: 11px;
  color: #444;
  border-bottom: 1px solid #bcbcbc;
}